body {
    margin: auto
}

.App {
    display: flex;
    justify-content: center;
    background: rgb(255, 242, 214);
}

.calendar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
    min-height: 400px;
    width: 400px;
    padding: 10px;
    border: solid #f85694 10px;
    border-radius: 5px;
    border-spacing: 0px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 15px 0;
}

.display {
    display: flex;
    justify-content: space-around;
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectedDates {
    background-color: rgb(245, 105, 159) !important;
    color: rgb(255,255,255)
}

.highlightDates{
    background-color:rgb(255, 240, 210);
    color: rgb(158, 158, 157)
}
table {
    text-align: center;
    width: 100%;
}

td {
    height: 40px;
    width: 40px;
}

td:hover {
    background-color: rgb(240, 240, 240)
}